$body: #F9FAFF;
$default: #363853;
$accent: #FF6838;
$textual: #31352B;
$silver:#ececec;
$gray: #c2c2c2;
$white: #fff;

%rubik-300{
  font-family: 'Rubik-Light', sans-serif;
  font-weight: 300;
}
%rubik-400{
  font-family: 'Rubik-Regular', sans-serif;
  font-weight: 400;
}

%rubik-500{
  font-family: 'Rubik-Medium', sans-serif;
  font-weight: 500;
}


